[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 11279546+Charlie-83@users.noreply.github.com
	name = Charlie-83
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[core]
    excludesFile = /home/charlie/.dotfiles/.gitignore_global
[alias]
    log = log --oneline
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
